@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@407&display=swap');

*{
    margin: 0px;
}

body{
    background: rgb(192, 192, 192) !important;
    font-family: 'Red Hat Display' !important;
}

.logo{
    height: auto;
    width: 7rem;
}

.menu{
    font-size: 19px;
}

.nav-link:hover{
    color:aliceblue !important;
    transition: all 1s;
    text-shadow: gray 0.1em 0.3em 0.1em !important ;

}

.navbar-toggler-icon {
    filter: brightness(10) contrast(600) invert(2);
  }

.houses{
      height: 70px;
      width: auto;
  }
.houses:hover { 
     transition: 350ms cubic-bezier(.20,-1.5,.65,2.50); 
      transform: scale(1.15);
    }   

#aboutGOT{
    margin-top: 30px;
}

.img-got{
    height: 340px;
    width: 640px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.card{
    height: 340px;
    width: 640px;
}

.img-grafico{
    margin-bottom: 10px;
    height: 400px;
    width: 600px;
    box-shadow: rgba(129, 125, 125, 0.4) -5px 5px, rgba(160, 158, 159, 0.3) -10px 10px, 
    rgba(182, 182, 182, 0.02) -15px 15px, 
    rgba(182, 182, 182, 0.1) -20px 20px, rgba(182, 182, 182, 0.05) -25px 25px;
}

.img-grafico:hover{
    margin-bottom: 10px;
    transition: 300ms cubic-bezier(0.173, 1.00, 0.32, 1.280);
    transform: scale(1.20);

}


.house1{
    height: 50px;
    width: auto;
}

.house2{
    height: 50px;
    width: auto;
}

@media (max-width: 700px){
    #aboutGOT{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        
    }

    .card{
        width: 360px;
        height: 500px;
        flex-direction: column;
        align-items: center;
        border-radius: 40px;
        margin-bottom: 15px;
    }
    .img-got{
        width: 360px;
        height: 300px;
        flex-direction: column;
        align-items: center;
        border-radius: 40px;
        margin-bottom: 15px;
    }
}
